@tailwind base;
@tailwind components;
@tailwind utilities;


body{
  overflow: hidden;
}
@layer utilities{
  .large-2{
    @apply relative h-[85%] w-[90%] overflow-y-auto bg-white/5 z-10 backdrop-filter backdrop-blur-[3px] rounded-lg
  }
}
.logo{
    background: url(/src/assets/logo.png);
    background-size:cover ;
    border-radius: 50%;
}

.text{
    animation: rotateText 30s linear infinite;
}

@keyframes rotateText{
    0%{
        transform: rotate(360deg);
    }
    100%{
        transform: rotate(0deg);
    }
}

.shadow{
  -webkit-box-shadow: 3px 3px 0px 0px rgba(255, 255, 255, 1);
  -moz-box-shadow: 3px 3px 0px 0px rgba(255, 255, 255, 1);
  box-shadow: 3px 3px 0px 0px rgba(255, 255, 255, 1);
}

.text span{
    position: absolute;
    left: 50%;
    font-size: 1.4em;
    transform-origin:0 135px ;
}

.nav::after {
    content: '';
    position: absolute;
    background: #ffffff;
    height: 1.8px;
    width: 0%;
    right: 0px;
    top: 14px;
    transition-duration: 300ms;
  }
  
  .nav:hover::after {
    width: 100%;
  }
 
.large-2::-webkit-scrollbar-track {
    padding: 2px 0;
    background-color: #000000;
  }
  
  .large-2::-webkit-scrollbar {
    width: 8px;
  }
  
  .large-2::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #1a1919;
    opacity: 10px;
    border: 1px solid #000;
  }